body{
    margin: 0;
}

#container{
    margin-top: 50px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.gridItems{
    height: 25px;
    width: 25px;
    border: 1px solid #ccc;
}

